body {
      margin: 0;
      padding: 0;
      background-image: url('./images/bck.jpg');
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      z-index: auto;
  }


.textStyle {
  font-family: "Source Sans Pro", "Arial", "sans-serif";
  font-size: 1.3rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.nav_bar {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(3, 37, 65);
     position: sticky; 
    top: 0;
    background-attachment: fixed;
    z-index: 1000; 
}

.logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;

  display: flex;
  margin-left: 2%;
  align-items: center;
  justify-content: center;
}

.logoImg {
  width: 90%;
  height: 90%;
}

.mainSearch {
  width: 23%;
  height: 40px;
  border: 2px rgb(180, 219, 255) solid;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 150px;
  background-color: #b4dbff;
}

.formclass {
  width: 80%;
  border-style: none;

  height: 90%;
  text-size-adjust: 50px;
  z-index: 50;
  margin-right: 25px;
}

.inputMovie {
  width: 100%;
  height: 100%;
  border: none;
  margin-left: 10px;
  height: 100%;
  background-color: transparent;
  border: 0px solid;
  font-size: larger;
  font-family: "Source Sans Pro", "Arial", "sans-serif";

    font-size: 1.2rem;
   
}

.inputMovie:focus {
    border: none;
    outline: none;
    font-size: 1.4rem;


}



.resetButton {
  background-color: rgb(34, 43, 43);
  width: 30px;
  height: 30px;
  z-index: 50;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  min-width: 30px;
  min-height: 30px;
}

.mainIcons {
  min-width: 150px;
  width: 25%;
  height: 50px;
  margin-right: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}




.innerIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 5px;
  min-width: 45px;
  min-height: 45px;
}



.user {
    width: 40px;
}

.userAcc {
    width: 38px;
}

.contactUsImg {
  width: 33px;
}

.mainImg {
    width: 100%;


}



.imageDiv {
  background-image: url(./images/coverimg.jpg);

  width: 100%;
  height: 200px;
  background-size: cover;
}

.innerImgDiv {
    width: 100%;
    height: 100%;
  
    display: flex;
  
  background-color: rgba(180, 219, 255, 0.2);
}

.textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5px;
}

.welcomeText {
  font-size: 3.4em;
  font-weight: 700;
  margin-top: -0.1%;
  margin-left: 5%;

  
}

.underWelcomeText {
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 0%;
  margin-top: -5%;
  width: 100%;
  margin-left: 5%;
}



.resultContainer {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  min-height: 250px;
  flex-wrap: wrap;
  transition: all 2s;
  margin-top: 2.5%;
  height: 130%;
}

 

.mainShowMovie {
  display: flex;
  align-items: center;
  margin: 1.5%;
  width: 170px;
  margin-top: 3%;
  height: 320px;
  background-color: rgb(3, 37, 65);
  flex-direction: column;
  transition: all 0.2s;
  border-radius: 15px;
  position: relative;
  
}

.mainShowMovie:hover {
  width: 200px;
  height: 360px;
  margin: 0.3%;
  margin-top: -1.8%;
  margin-bottom: 0%;
}

.innerMoviePic {
border-top-left-radius: 10px;
border-top-right-radius: 10px;
  display: flex;
  width: calc(100% - 10px); 
  height: calc(100% - 70px);
  margin: 5px;
  object-fit: cover;


  
}

 .movieName {
  width: 100%;
  height: auto;
  margin: 0%;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-family: 'Arial', sans-serif; 
  font-size: 1.1rem;
} 


 .movieRating {
  font-family: 'Arial', sans-serif;
  width: 100%;
  height: auto;
  margin-top: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  color: white;
} 

.addToWatchList {
  width: 30px;
  background-color: rgb(0, 63, 165, 0.8);
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  border: rgba(0, 20, 53, 0.8) 3px solid;
  font-weight: bold;
  position: absolute ;
  top: 10px;
  right: 10px;
  color:#ffffff; 
  font-family: 'Verdana', sans-serif; 
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.addToWatchList:hover {
 background-color: #b4dbff;
color: rgba(0, 20, 53, 0.8);
}
