body {

    margin: 0;
    padding: 0;
    background-image: url('../homePage/images/bck.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    z-index: auto;
}


.textStyle {
font-family: "Source Sans Pro", "Arial", "sans-serif";
font-size: 1.3rem;
color: rgb(255, 255, 255);
text-decoration: none;
}

.nav_bar {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(3, 37, 65);
   position: sticky; 
  top: 0;
  background-attachment: fixed;
  z-index: 1000; 
}

.logo {
width: 70px;
height: 70px;
border-radius: 50%;

display: flex;
margin-left: 2%;
align-items: center;
justify-content: center;
}

.logoImg {
width: 90%;
height: 90%;
}


.mainIcons {
min-width: 150px;
width: 25%;
height: 50px;
margin-right: 3%;
display: flex;
align-items: center;
justify-content: space-between;
}




.innerIcons {
display: flex;
align-items: center;
justify-content: center;
width: 45px;
height: 45px;
border-radius: 50%;
margin: 5px;
min-width: 45px;
min-height: 45px;
}



.user {
  width: 40px;
}

.userAcc {
  width: 38px;
}

.contactUsImg {
width: 33px;
}

.mainImg {
  width: 100%;


}

.errorcontainer{
  color:rgb(34, 43, 43);
  background-color: white;
  padding: 20px;
  margin :15% auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50%;
  height:30%;
  font-weight:bold ;
  text-align: center;

}
.keyIcon {
  text-decoration: none;
  
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.infoBlock {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 20px;
}

.block {
    background-color:rgb(3, 37, 65) ; 
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 45%;
    border:2px solid rgb(3, 37, 65) ; 
}
.block p{
    font-size: 1.2rem;
    color:#b4dbff;
    font-weight: bold;
}

.field {
  font-size: 1.1rem;
  color: #ecf6ff/*rgb(132, 166, 189); rgb(66, 80, 80); */;
  font-weight: lighter;

}

.changePassword {
    color: rgb(25, 10, 167);
}

.logoutBlock {
    background-color: rgb(3, 37, 65);
  width: 100px;
    padding: 15px;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
  margin-left: auto;
  margin-right: 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logout {
    text-decoration: none;
    font-weight: bold;
    color: #b4dbff;
    font-size: 1.2rem;
}

.favmovies {
    width: 80%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}






@media (max-width: 768px) {
    .block p {
        font-size: 0.9rem; 
    }
}

/* Small screens (mobile phones) */
@media (max-width: 480px) {
    .block p  {
        font-size: 0.8rem; 
    }
}


@media (max-width: 320px) {
   .block p  {
        font-size: 0.7rem; 
    }
}



.resultContainer {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  min-height: 250px;
  flex-wrap: wrap;
  transition: all 2s;
  margin-top: 0;
  margin-bottom: 2.5%;
  height: 130%;
   border :rgb(3, 37, 65) solid 3px;
 
}

.favtext {
  color:  #b4dbff;
  border: 3px solid rgb(3, 37, 65); 
  border-bottom: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 5%;
  width: 80%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 2.5%;
  margin-bottom: 0;
  background-color: rgb(3, 37, 65);
  text-align: center;
}

.mainShowMovie {
  display: flex;
  align-items: center;
  margin: 1.5%;
  width: 170px;
  margin-top: 3%;
  height: 320px;
  background-color: rgb(3, 37, 65);
  flex-direction: column;
  transition: all 0.2s;
  border-radius: 15px;
  position: relative;
  
}

.mainShowMovie:hover {
  width: 200px;
  height: 360px;
  margin: 0.3%;
  margin-top: -1.8%;
  margin-bottom: 0%;
}

.innerMoviePic {
border-top-left-radius: 10px;
border-top-right-radius: 10px;
  display: flex;
  width: calc(100% - 10px); 
  height: calc(100% - 70px);
  margin: 5px;
  object-fit: cover;


  
}

 .movieName {
  width: 100%;
  height: auto;
  margin: 0%;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-family: 'Arial', sans-serif; 
  font-size: 1.1rem;
} 


 .movieRating {
  font-family: 'Arial', sans-serif;
  width: 100%;
  height: auto;
  margin-top: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  color: white;
} 

.addToWatchList {
  width: 30px;
  background-color: rgb(0, 63, 165, 0.8);
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  border: rgba(0, 20, 53, 0.8) 3px solid;
  font-weight: bold;
  position: absolute ;
  top: 10px;
  right: 10px;
  color:#ffffff; 
  font-family: 'Verdana', sans-serif; 
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.addToWatchList:hover {
 background-color: #b4dbff;
color: rgba(0, 20, 53, 0.8);
}