body {

    margin: 0;
    padding: 0;
    background-image: url('../homePage/images/bckimg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    z-index: auto;
}


.textStyle {
font-family: "Source Sans Pro", "Arial", "sans-serif";
font-size: 1.3rem;
color: rgb(255, 255, 255);
text-decoration: none;
}

.nav_bar {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(3, 37, 65);
   position: sticky; 
  top: 0;
  background-attachment: fixed;
  z-index: 1000; 
}

.logo {
width: 70px;
height: 70px;
border-radius: 50%;

display: flex;
margin-left: 2%;
align-items: center;
justify-content: center;
}

.logoImg {
width: 90%;
height: 90%;
}

.mainSearch {
width: 23%;
height: 40px;
border: 2px rgb(180, 219, 255) solid;
border-radius: 25px;
display: flex;
align-items: center;
justify-content: space-between;
min-width: 150px;
background-color: #b4dbff;
}

.formclass {
width: 80%;
border-style: none;

height: 90%;
text-size-adjust: 50px;
z-index: 50;
margin-right: 25px;
}

.inputMovie {
width: 100%;
height: 100%;
border: none;
margin-left: 10px;
height: 100%;
background-color: transparent;
border: 0px solid;
font-size: larger;
font-family: "Source Sans Pro", "Arial", "sans-serif";

  font-size: 1.2rem;
 
}

.inputMovie:focus {
  border: none;
  outline: none;
  font-size: 1.4rem;


}



.resetButton {
background-color: rgb(34, 43, 43);
width: 30px;
height: 30px;
z-index: 50;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
margin-right: 5px;
min-width: 30px;
min-height: 30px;
}

.mainIcons {
min-width: 150px;
width: 25%;
height: 50px;
margin-right: 3%;
display: flex;
align-items: center;
justify-content: space-between;
}




.innerIcons {
display: flex;
align-items: center;
justify-content: center;
width: 45px;
height: 45px;
border-radius: 50%;
margin: 5px;
min-width: 45px;
min-height: 45px;
}



.user {
  width: 40px;
}

.userAcc {
  width: 38px;
}

.contactUsImg {
width: 33px;
}

.mainImg {
  width: 100%;


}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.infoBlock {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 20px;
}

.block {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 45%;
}
.block p{
    font-size: 1.2rem;
    color: rgb(34, 43, 43);
}

.field {
  font-size: 1.1rem;
  color: rgb(66, 80, 80);

}

.changePassword {
    color: rgb(25, 10, 167);
    text-decoration: none;
}

.logoutBlock {
    background-color: rgb(3, 37, 65);
  width: 100px;
    padding: 15px;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
  margin-left: auto;
  margin-right: 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logout {
    text-decoration: none;
    font-weight: bold;
    color: #b4dbff;
    font-size: 1.2rem;
}

.tableBlock {
    width: 80%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
background-color: rgb(3, 37, 65);
color:white;
     border-collapse: collapse;

border-left: none;
border-right: none;
border-top: none;
border-bottom: none;}
 tr, td {

    border: 1px solid rgb(255, 255, 255);
}

 td {
    padding: 10px;
    text-align: left;
}

@media (max-width: 768px) {
    .block p {
        font-size: 0.9rem; 
    }
}

/* Small screens (mobile phones) */
@media (max-width: 480px) {
    .block p  {
        font-size: 0.8rem; 
    }
}

/* Extra small screens  */
@media (max-width: 320px) {
   .block p  {
        font-size: 0.7rem; 
    }
}